<h1>购 物 车</h1>
<p>

</p>

<table>
  <tr>
  </tr>
  <tr>
    <th></th>
    <th>商品名</th>
    <th>商品价格</th>
    <th>商品库存</th>
    <th>供应商</th>
    <th>购买数量</th>
    <th></th>
    <th></th>
    <th></th>

  </tr>
  <%=form_for :commodity,:url=>"/suppliers/cart_buy",:html=>{:onsubmit=> 'return compare()'}  do%>
    <% if @commodities == nil %>
      <font color ="red"><%= "您的购物车还没有任何商品哦!" %></font>
    <% else %>
      <% @commodities.each do |commodity| %>
        <tr>
          <td><input type="checkbox" name="check_b" value="<%= commodity.id %>" onclick="javascript:pack()" /></td>
          <td><%= commodity.name %></td>
          <td><%= commodity.price %></td>
          <td><label id="commodity_value<%=commodity.id  %>" ><%= commodity.amount %></label></td>
          <td><%= commodity.supplier.name %></td>
          <td><input value="1"id="num<%= commodity.id %>" name="num<%= commodity.id %>" size="1" onblur="javascript:pack()" /></td>
          <td><input type="hidden"  id="amount<%=commodity.id  %>" value="<%=commodity.amount %>" /></td>
          <td><%= link_to '购买',"javascript:void(0)",
              :onclick => "javascript:get_package('#{commodity.id}');" %></td>
        </tr>
      <% end %>
      <tr>
      <input type="hidden" id="commodity_id" name="commodity_id" value="" />
      <td class="allselect_box" colspan="9">
        <input type="checkbox" name="check_box" onclick=sltall(this.checked) />&nbsp;&nbsp;全选
      </td>
      <td> <input type="submit" value="批量购买"  /></td>
    </tr>
  <% end %>

<% end %>
</table>

<br />

<%= link_to '继续购物', "/commodities" %>
<%= button_to "清空购物车", :action => :empty_cart %>