<p>
  <b>商品名:</b>
  <%= @commodity.name %>
</p>

<p>
  <b>商品价格:</b>
  <%= @commodity.price %>
</p>

<p>
  <b>库存数:</b>
  <%= @commodity.amount %>
</p>

<p>
  <b>供应商:</b>
  <%= @commodity.supplier.name %>
</p>

<p>
  <b>邮费:</b>
  <%= @commodity.supplier.postage %>
</p>

<%= link_to '编辑商品信息', edit_commodity_path(@commodity) %> |
<%= link_to '返回', commodities_path %>
