<% @packages.each do |package| %>
  <tr>
  <p>包裹名<%= package.name%><td>邮费<%= Supplier.find(package.supplier_id).postage %></td></p>
  <br />
  <% package.orders.each do |order| %>
    <td>订单<%= order.id %></td>
    <td>供应商<%= Supplier.find(order.supplier_id).name %></td>
    <td>商品名称 <%= Commodity.find(order.commodity_id).name %></td>
    <td>购买数量 <%= order.amount %></td>
    <td>总价 <%= order.order_price %></td>

  <%end%>
  </tr>
<%end%>
