<h1>包 裹</h1>
<tr> <h2>订单</h2></tr>
<table>

  <tr>
    <th>供应商</th>
    <th>商品名</th>
    <th>商品单价</th>
    <th>邮费</th>
    <th>购买数量</th>
    <th>订单价格</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= @supplier.name %></td>
    <td><%= @commodity.name %></td>
    <td><%= @commodity.price %></td>
    <td><%= @supplier.postage %></td>
    <td><%= @order.amount %></td>
    <td><%= @order.order_price %></td>

  </tr>
</table>